.container {
  background: #042B61;
  position: relative;
  overflow: hidden;
  padding: 35px 0;
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #EDF7FF;
  width: 100%;
  left: 0;
  bottom: -50%;
  border-radius: 98%;
  height: 100%;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 111%;
  text-align: center;
  margin-bottom: 80px;
  color: #ffffff !important;
}

.hideCard {
  margin: 0 auto;
  max-width: 84%;
  overflow: hidden;
}

.scrollWrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.videoCard {
  flex: 1 0 300px;
  width: 300px;
  height: 400px;
  border: 1px solid #fff;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
}

.iframeWrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  border-radius: 12px;
}

.poster {
  position: absolute;
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  border-radius: 12px;
}

.clientDetails {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(180deg, #1a1a1a48 100%, rgba(39, 39, 39, 0) 8.31%);
  color: #fff;
  height: 100%;
  align-content: flex-end;
  border-radius: 18px;
}

.clientDetails h3 {
  font-size: 21.6px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}

.clientDetails label {
  font-weight: 500;
  font-size: 13px;
  color: #c9c6c6;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: none;
}

.button {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 105px;
  height: 105px;
  transform: translateX(-50%);
  border: none;
  background: transparent;
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.iframeWrapper {
  position: absolute;
  height: 50%;
  perspective: 1000px;
}

.textVisible {
  transform: translateX(-50%) translateY(0) scale(1);
  opacity: 1;
}

.overlay {
  position: absolute;
  opacity: 0.5;
  top: 0%;
  transform: scale(0);
  transition: all 0.4s cubic-bezier(0, 0, 1, 1);
  color: #fff;
}

.videoCard:hover label,
.videoCard:hover .texts {
  opacity: 0;
  transform: translateY(200px);
  visibility: hidden;
  transition: all 0.5s ease;
}

.videoCard:hover .button {
  top: 47%;
  transition: all 0.5s ease;
}

.videoCard:hover .button img {
  scale: 1.1;
  transition: all 0.5s ease;
}

.videoCard:hover .overlay {
  opacity: 1;
  top: 98%;
  transform: scale(1);
}


@keyframes fade {
  from {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }

  to {
    opacity: 0;
    transform: translateY(200px);
    visibility: hidden;
  }
}

.indicatorWrapper {
  display: none;
  height: 30px;
  z-index: 100;
}

.container {
  min-height: 64vh;
}

/* mobile code */
@media screen and (min-width:800px) and (max-width: 1200px) {
  .hideCard {
    max-width: 67%;
    overflow: auto !important;
  }

  .container {
    min-height: 68vh;
  }
}

@media screen and (max-width: 788px) {
  .container::before {
    content: "";
    background-color: #edf7ff;
    border-radius: 0%;
    width: 102%;
    height: 92%;
    display: block;
    position: absolute;
    bottom: -45%;
    left: 0px;
  }

  .heading {
    font-size: 28px !important;
  }

  .container {
    min-height: 100vh;
  }

  .hideCard {
    max-width: 55%;
    overflow: auto;
  }

  .scrollWrapper {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    justify-content: flex-start;
    align-items: stretch;
  }

  .videoCard {
    flex: 0 0 75%;
    width: 75vw;
    min-width: 300px;
    max-width: 350px;
    height: 380px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
    border: 1px solid #fff;
    background: #fff;
  }

  .indicatorWrapper {
    align-items: center;
    height: 10px;
    display: flex;
    bottom: 10%;
    gap: 8px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin-top: 12px;
  }

  .inactiveDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D9D9D9;
  }

  .activeDot {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background: #042A5E;
    transition: width 0.3s ease;
  }

}

.sbtext {
  position: relative;
  display: flex;
  color: #635A5A;
  font-size: 17px;
  line-height: 154%;
  max-width: 297px;
  margin: 0 auto;
  text-align: center;
  bottom: -50px;
  letter-spacing: 00.01em;
}

.leftSide {
  display: block;
  height: 1px;
  position: absolute;
  bottom: -38px;
  left: 7%;
  width: 20%;
  background: linear-gradient(to left, rgba(0, 0, 0, .69) 0%, rgba(255, 255, 255, 1) 100%);
}

.rightSide {
  display: block;
  height: 1px;
  position: absolute;
  bottom: -38px;
  right: 7%;
  width: 20%;
  background: linear-gradient(to right, rgba(0, 0, 0, .69) 0%, rgba(255, 255, 255, 1) 100%);
}

.descriptionContent {
  position: relative;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 588px) {
  .container {
    min-height: 95vh !important;
  }

  .sbtext {
    bottom: 0px;
  }

  .hideCard {
    /* margin: 0 50px; */
    /* margin-right: 20px; */
    max-width: 100% !important;
    overflow: auto !important;
    /* padding: 0 50px; */
  }

  .indicatorWrapper {
    bottom: 13%;
  }
}