.support .assistance {
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background: #fff;
  padding: 1rem 1rem 1rem 1rem;
}
.support .assistance .assistanceText h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.support .supportText .supportTextDiv span {
  color:#000;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.support .assistance p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.support .supportText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .support .supportText .supportTextDiv h2 {
    width: 100%;
    font-size: 27px !important;
    padding-top: 0rem;
  }
}
/* Second Row */

.support .turnaround {
  border-radius: 3px;
  border-bottom: 7px solid #ffc107;
  background: #fff;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1.5rem;
}
.support .turnaround .turnaroundText h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.support .turnaround p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.support .turnaroundText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Third Row */

.support .platform {
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background: #fff;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1.5rem;
}
.support .platform .platformText h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.support .platform p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.support .platformText {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.platformText img{transform: scale(1.3);}