.headh2,
.roundtextmaindiv h2 {
    font-style: normal;
    font-weight: 700 !important;
    line-height: 40px;
}

.roundcardmaindiv .roundcard .roundcardtext,
.roundcardmaindiv .roundcard1 .roundcardtext {
    display: flex;
    padding-left: 28px;
    padding-top: 25px
}

.ctaSpan,
.headh2 {
    text-align: center
}

.main section {
    margin-block: 50px
}

.headh2 {
    font-size: 30px;
    letter-spacing: 2px
}

.headspan,
.subh3 {
    font-size: 18px;
    font-weight: 500
}

.img-margin {
    margin-top: -50px
}

.headspan {
    color: #000;
    font-style: normal;
    line-height: 30px
}

.subh3 {
    color: #000;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 15px;
    display: block
}

.ctaSpan,
.vsh2 {
    font-weight: 700
}

.roundtextmaindiv {
    margin-top: 0;
    padding-right: 70px
}

.roundtextmaindiv h2 {
    color: var(--H2-Color, #013d8e) !important;
    font-size: 30px !important;
    letter-spacing: 3px;
    margin-top: 155px
}

.roundcardmaindiv .roundcard p,
.roundcardmaindiv .roundcard1 p,
.roundtextmaindiv p {
    color: var(--text-priority-1-light, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px
}

.roundtextmaindiv .human_response {
    color: var(--text-priority-1-light, #464646);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px
}

.roundtextmaindiv p {
    margin-top: 10px
}

.roundcardmaindiv {
    margin-top: 10px;
    margin-bottom: 0
}

.roundcardmaindiv .roundcard {
    border-radius: 3px;
    border: 1px solid var(--Seperator, #e9e9e9);
    background: #fff
}

.roundcardmaindiv .roundcard1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    border-bottom: 7px solid var(--Y-Accent, #ffc107);
    background: #fff;
    box-shadow: 0 16px 40px 0 rgba(0, 0, 0, .1)
}

.roundcardmaindiv .roundcard .roundcardtext h3,
.roundcardmaindiv .roundcard1 .roundcardtext h3 {
    color: var(--text-priority-1-light, #464646);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding-left: 17px
}

.roundcardmaindiv .roundcard p,
.roundcardmaindiv .roundcard1 p {
    padding-left: 30px
}

.ctaSpan,
.item-container .items h3 {
    line-height: normal;
    font-style: normal
}

.roundcardmaindiv .roundcard .roundcardtext img,
.roundcardmaindiv .roundcard1 .roundcardtext img {
    width: 38px;
    height: 38px
}

.item-container {
    display: grid;
    max-width: 1038px;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    column-gap: 20px;
    align-items: flex-start
}

.item-container .items h3 {
    color: #464646;
    font-size: 20px;
    font-weight: 500;
    margin: 0 !important
}

.item-container .sub-item {
    display: flex;
    align-items: center;
    gap: 12px
}

.item-container .items p {
    max-width: 283px;
    margin: 0 !important
}

.item-container .items {
    display: grid;
    align-items: flex-start;
    row-gap: 19px
}

.ctaSpan {
    color: #013d8e;
    font-size: 25px;
    letter-spacing: 1.4px;
    padding-bottom: 30px
}

.designMain br {
    display: none
}

.designMain p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
    font-weight: 500
}

.designMain .removeborder {
    border: none
}

.design-2,
.designMain {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.vsh2 {
    font-size: 20px
}

.designMain {
    background: #f3f8ff;
    display: flex
}

.designMain .design-1 p {
    color: #fff
}

.designMain .design-1,
.designMain .design-2 {
    flex: 1
}

.design-1 {
    background: url(/assets/images/sage-100/leftside.png) no-repeat;
    background-size: 100% 100%;
    position: relative
}

.design-2 {
    background: #f3f8ff;
    position: relative;
    color: #000
}

.design-2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    clear: both;
    transform: rotate(360deg)
}

.broadApps {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 25px 0 25px 30px;
    border-bottom: 1px solid #797c7d
}

.broadApps>img {
    width: 17px;
    height: 16px;
    margin-top: 1%
}

@media screen and (max-width:480px) {
    .firstDiff p {
        width: 300px !important
    }
}

@media screen and (max-width:768px) {

    .headh2,
    .subh3 {
        font-style: normal
    }

    .subh3 {
        font-size: 18px;
        text-align: left;
        line-height: 30px
    }

    .headh2 {
        text-align: center;
        font-size: 25px !important;
        line-height: 35px;
        letter-spacing: 2.5px
    }

    .roundtextmaindiv p {
        margin-bottom: 50px
    }

    .roundtextmaindiv,
    .roundtextmaindiv h2 {
        margin-top: 0
    }

    .roundcardmaindiv {
        margin: 0
    }

    .broadApps {
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
        gap: 30px !important;
        padding: 25px 0 20px 10px
    }

    .roundtextmaindiv {
        margin-top: 0;
        padding-right: 0;
        text-align: center
    }
}

.sage100second {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.sage100second .firstImg .imgss {
    height: 232px;
    margin-left: auto;
    margin-top: 5%;
    min-width: 200px
}

.sage100second .secondPara {
    max-width: 740px
}

.pcenter {
    color: #464646;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    max-width: 821px;
    margin-inline: auto;
    margin-bottom: 40px
}

.cloudimg {
    width: 100%;
    height: 100%
}

@media screen and (min-width:481px) and (max-width:768px) {
    .sage100second {
        flex-wrap: wrap
    }

    .first-img-div,
    .sage100second .second-para-div {
        flex-basis: 70%
    }

    .img-margin,
    .sage100second .first-img-div .imgss {
        display: block;
        margin: auto
    }

    .itemblog2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: auto
    }

    .cloudimg {
        display: block;
        margin-left: auto;
        width: 100%
    }
}

@media screen and (min-width:0px) and (max-width:480px) {

    .pcenter,
    .sage100second h2 {
        text-align: center
    }

    .item-container,
    .itemblog2 {
        grid-template-columns: repeat(1, 1fr)
    }

    .img-margin {
        height: 100%;
        width: 100%;
        margin-top: -10px
    }

    .cloudimg,
    .itemblog2 {
        margin: auto
    }

    .itemblog2 {
        display: grid;
        gap: 30px
    }

    .cloudimg,
    .designMain br {
        display: block
    }

    .sage100second {
        margin-top: 60px;
        flex-wrap: wrap
    }

    .sage100second p {
        text-align: left;
        margin: 0 !important
    }

    .firstImg,
    .sage100second .secondPara {
        flex-basis: 100%
    }

    .sage100second .firstImg .imgss {
        height: auto !important;
        width: auto;
        margin: 0
    }

    .imgss {
        margin: 0
    }

    .design>img {
        width: 16px;
        height: 16px
    }

    .designMain p {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: normal
    }

    .pcenter {
        font-size: 18px;
        font-weight: 400;
        max-width: 365px;
        margin-bottom: 0
    }

    .item-container {
        display: grid;
        margin-inline: 15px;
        grid-row-gap: 0px
    }

    .item-container .items {
        row-gap: 19px;
        padding: 50px 10px 15px
    }

    .item-container .items p {
        max-width: 100%;
        text-align: left
    }

    .item-container .sub-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }
}