.sage500Main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  .pcontent {
    font-weight: 400;
    font-size: 17px;
    line-height: 18.7px;
  }
}
.borderStyle {
  padding: 0px 0px 8px 0px;
  border-bottom: 1px solid transparent;
  border-image: url(/assets/borderImage.svg) 1 0%;
}
.sage500Cloud {
  margin: 50px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  max-width: 90%;

  .h3heading {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px;
    padding: 5px 0 12px 0px !important;
    margin: 0 !important;
  }
  .card {
    flex: 1;
    position: relative;
    border: 2px solid #ededed;
    border-radius: 8px;
    padding: 25px 20px 25px 30px;
    box-sizing: border-box;
  }
  .card.fullWidth {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 100% !important;
  }
  .stepDesc{
    padding: 27px 10px 27px 10px;
        width: auto !important;
  }
  .cloudBox{
    grid-template-columns: 1fr !important;
  }
  .stepsContainer{
    width: 100% !important;
  }
}
.bordersLeft,
.borderRight {
  border-bottom: 8px solid;
  position: absolute;
  width: 50%;
  bottom: 0px;
}
.bordersLeft {
  left: 0%;
  border-color: #F4AC04;
}
.borderRight {
  right: 0%;
  border-color: #333741;
}
.ctaheading {
  font-weight: 700 !important;
  font-size: 36px;
  line-height: 54px;
  color: #0E3C85;
  text-align: center;
}
.stepsContainer div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.stepsContainer {
  width: 856px;
  display: grid;
  margin: 70px auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: safe;
  gap: 30px;

  .circles {
    width: 75.70px;
    height: 75.70px;
    background: #4c7fc6;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    border: 6.77px solid #b6d5fe;
    margin: 0px;
    padding: 0px;
  }

  .stepDesc {
    border-bottom: 3px solid #FDC736;
    padding: 27px 48px 27px 37px;
    border-radius: 14px;
    background: white;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 22px;
    margin: auto 0px;
    width: 100%;
  }
}

.stepsContainer div {
  gap: 18px;
}

.softFeature {
  border-top: 5px solid #F4AC04;
  border-right: 1px solid #CAD2D7;
  border-bottom: 1px solid #CAD2D7;
  border-left: 1px solid #CAD2D7;
  display: flex;
  flex-wrap: wrap;

  .feature1 {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 35px 25px 10px 33px;
  }
  
  .featureDesc {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
  }

  .h3heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .stepDesc{
    padding: 27px 19px 27px 21px !important;
  }
  .softFeature {
    flex-direction: column;
  }
  .feature1 {
    flex: 1 1 100%;
    padding: 20px 15px;
  }
  .featureDesc {
    font-size: 14px;
    line-height: 22px;
  }
  .h3heading {
    font-size: 18px;
    line-height: 26px;
  }
  .cta2 {
    padding-block: 30px !important;
    padding-inline-start: 10px;

    .span {
      font-size: 29px !important;
      line-height: 38px !important;
      text-align: center;
    }
  }
  
.feature1:first-child {
  border-right: 0px !important;
  border-bottom: 4px solid #F4AC04;
}

.feature1:nth-child(2) {
  border-right: 0px !important;
  border-bottom: 4px solid #F4AC04;
}

.feature1:nth-child(3),
.feature1:nth-child(5) {
  border-bottom: 4px solid #F4AC04;
}

.feature1:nth-child(4) {
  border-right: 0px !important;
  border-bottom: 4px solid #F4AC04;
}
.sage500Main h2 span.borderStyle{
  border: none !important;
}
}

@media (max-width: 480px) {
  .feature1 {
    padding: 15px 10px;
  }
  .featureDesc {
    font-size: 12px;
    line-height: 20px;
  }
  .h3heading {
    font-size: 16px;
    line-height: 24px;
  }
}
.feature1:first-child {
  border-right: 1px solid #CAD2D7;
  border-bottom: 4px solid #F4AC04;
}
.feature1:nth-child(2) {
  border-right: 1px solid #CAD2D7;
  border-bottom: 4px solid #F4AC04;
}
.feature1:nth-child(3) {
  border-bottom: 4px solid #F4AC04;
}
.feature1:nth-child(4) {
  border-right: 1px solid #CAD2D7;
}

.ctaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/assets/images/sage-500/01/CTABackground.png) no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: cover;
  padding-block: 47px 37px;

  .span {
    font-weight: 600;
    color: #0E3C85;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

}

.cloudBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;

  .cloudBoxHeading {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px;
    margin: 0px !important;
  }

  .feature2 {
    border-radius: 8px;
    border: 2px solid #ededed;
    border-bottom: 8px solid #0B156D;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 35px 10px 35px;
    position: relative;
    overflow: hidden;
  }
  
  .feature2:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1; 
    transition:   0.3s ease-in-out;
    background: linear-gradient(-220deg, hsla(0, 0%, 100%, 1) 52%, hsla(234, 100%, 94%, 1) 100%);
    filter: blur(5px);
  }
  
}