.subText {
    color: #626367;
    font-size: 17px;
    letter-spacing: 1%;
    line-height: 154%;
}

.QuickBooksEnterprise .subText {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.enterpriseIamge {
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.colorStripSection {
    position: relative;
    margin: -60px 0 40px 0;
    height: 225px;
    overflow: hidden;
}

.colorStripSection img {
    position: absolute;
    min-width: 124vw;
    margin-left: -12vw;
    top: -10%
}



/* what you can do */
.QuickBooksEnterpriseItems {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.QuickBooksEnterpriseItem2 {
    flex: 1 0 calc(50% - 200px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
}

.QuickBooksEnterpriseItem1 {
    flex: 1 0 calc(50% - 185px);
}

.leftSide {
    display: flex;
    flex-direction: column;
    /* max-width: 461; */
    width: 100%;
    min-height: 330px;
    border: 1px solid #d0d0d0;
    padding: 22px 16px 50px 16px;
    border-radius: 11px;
    background: #FFF4E9;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.leftSide .subText {
    padding: 24px 22px;
    border: 1px solid #FFDA84;
    border-radius: 7px;
    text-align: left;
}

.leftSide .icon {
    flex: 1 0 calc(50% - 35px);
    font-size: 13px !important;
    background: #ffffff;
    color: #042553;
    font-weight: medium;
    border: 1px solid #FFCE5B;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    padding: 13px 10px;
    position: relative;
    z-index: 2;
}

.icon span {
    font-size: 14px;
    font-weight: 500;
    color: #042553;
}

.line {
    display: inline-block;
    width: 170px;
    height: 2px;
    background: linear-gradient(90deg, rgba(98, 98, 98, 1) 0%, rgba(255, 255, 255, 1) 93%);
}

.subHeading {
    font-size: 24px;
    font-weight: 700 !important;
    color: #0C336B;
    margin-top: 20px;
    margin: 0 !important;
}

.subHeading span {
    font-style: italic !important;
    font-weight: 500 !important;
    font-size: 26px !important;
}

.rightSideTop p,
.rightSideBottom p {
    text-align: left !important;
    border: 1px solid #B8E282;
    border-radius: 7px;
    padding: 20px 0 20px 24px;
    background: #ffffff;
}

.rightSideTop,
.rightSideBottom {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 220px;
    border: 1px solid #dfdfdf;
    padding: 22px 16px 0px 16px;
    border-radius: 11px;
    background: #E9FFCD;
}

.popImage {
    position: absolute;
    bottom: -18%;
    left: 37.5%;
    width: 150px;
    z-index: 2;
}

.bgImage {
    bottom: -28%;
    position: absolute;
    filter: blur(0.5px);
    width: 330px;
    right: -10%;
    z-index: 1;
}

.popImage1 {
    position: absolute;
    bottom: -39%;
    left: 41.5%;
    width: 150px;
    z-index: 2;
}

.popImage2 {
    position: absolute;
    bottom: -22%;
    left: 57.5%;
    width: 150px;
    z-index: 2;
}

.bgImage1 {
    position: absolute;
    bottom: -70%;
    filter: blur(0.8px);
    width: 330px;
    right: -14%;
    z-index: -1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 40px;
    width: 97%;
    margin-inline: auto;
}

.card {
    background: #FCFDFF;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    display: flex;
    padding: 0 0 0 20px;
    min-height: 255px;
    overflow: hidden;
    transition: transform .3s ease, box-shadow .3s ease;
    border: 1px solid #D7D7D7;

    .number {
        margin-top: 30px;
    }
}

.card:first-child,
.card:last-child {
    border-top: 6px solid #03295F;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.image {
    width: 228px;
    height: 100%;
}
.image:nth-child(2) {
    width: 196px;
}


.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-weight: 400;
    font-size: 15.88px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: justify;
}
.ctaSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.ctaSection >img {
    width: 380px;
    height: auto;
    margin-bottom: 30px;
}
@media screen  and (max-width:1025px){
    .colorStripSection {
        margin: -60px 0 -40px 0;
    }
}
@media screen and (max-width: 768px) {
    .ctaSection{
       flex-direction: column;
        gap: 0px;
    }
    .ctaSection >img {
        width: 280px;
        height: auto;
        margin-bottom: 0px;
        margin-right: auto;

    }
    .enterpriseIamge {
        justify-content: center;
    }
    .colorStripSection {
        position: relative;
        margin: -30px 0 0px 0;
        height: 150px;
        overflow: hidden;
    }

    .QuickBooksEnterpriseItem1,
    .QuickBooksEnterpriseItem2 {
        flex: 1 0 100%;
    }

    .rightSideTop p,
    .rightSideBottom p {
        padding: 20px 10px 20px 24px;
    }

    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .ctaSection >img {
        width: 70%;
        margin-inline: auto;
    }
    .colorStripSection {
        position: relative;
        margin: -30px 0 0px 0;
        height: 75px;
        overflow: hidden;
    }
    .card{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 20px;
    }
    .image {
        width: 230px !important;
        height: 100%;
    }
    .leftSide .icon {
        flex: 1 0 calc(100% - 35px);
    }

   

    .rightSideTop,
    .rightSideBottom {
        min-height: 280px;
    }

}
.bannerCTA{
    display: flex;
}
@media screen and (max-width: 400px) {
    .bannerCTA{
        flex-direction: column;
    }
    
}