.categories a,
.whiteCards {
    display: flex
}

.heroSection {
    background-image: url(/assets/images/support/support_banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    height: 72vh
}

.heroSection h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    padding: 22px 10px;
    color: #fff
}

.main .banners_knowledge form {
    position: relative;
    margin: auto;
    height: 60px;
    width: 49%
}

.main .banners_knowledge input[type=text] {
    font-size: 16px;
    border-radius: 100px;
    font-weight: 400;
    background: #fff;
    padding: 17px 27px;
    width: 100%;
    border: none;
    color: #000;
    outline: 0
}

.main .banners_knowledge .base-input::placeholder {
    color: #a3aabb;
    font-weight: 400;
    font-size: 16px;
    opacity: .8
}

.main .banners_knowledge #searchsubmit {
    position: absolute;
    right: 5px;
    top: 3.2px;
    border: none;
    border-radius: 50px;
    height: 51px;
    width: 136px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    cursor: pointer;
    color: #fff;
    background-color: #0151c1;
    font-size: 20px
}

.main .banners_knowledge #searchsubmit>span {
    padding: 1px 0 0 10px;
    font-weight: 600
}

.main .support_banner_list {
    margin: auto;
    text-align: center
}

.main .support_banner_list li {
    display: inline-block;
    padding: 6px;
    position: relative
}

.support_banner_list strong {
    color: #fff;
    font-weight: 500
}

.support_banner_list li a {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 12px
}

.support_banner_list li a:active,
.support_banner_list li a:hover {
    background-color: #fff;
    color: #000;
    transition: .4s ease-in-out
}

.whiteCards {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px
}

.boxTitle {
    color: #042d65;
    letter-spacing: 2%;
    padding: 5px;
    font-size: 14px;
    font-weight: 600
}

.categories a {
    padding: 1.2rem;
    border: 1px solid #0151c170;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .1s linear;
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: center;
    color: #000;
    height: 260px;
    max-width: 317px
}

.categories a:hover {
    box-shadow: rgb(99 99 99 / .2) 0 2px 8px 0;
    transition: .3s ease-in
}

.categories .categoryImage {
    justify-content: center;
    align-items: center
}

.categories .CatCount {
    padding: 6px 40px;
    margin-top: .3rem;
    background: #f5f8fd;
    border-radius: 22px
}

.categories .title,
.container .rowText {
    font-size: 1.8rem;
    font-weight: 700;
    margin: .6rem .4rem;
    color: #000
}

.container .rowText {
    font-size: 2.2rem
}

.categories .title:hover {
    color: #023a94;
    transition: .3s ease-in-out
}

.categories .desc {
    color: #000;
    letter-spacing: .22px;
    text-align: center;
    margin-top: 11px;
    font: 400 11px/18px;
}

.NewSearch {
    max-width: 355px;
    position: relative
}

.NewSearch input {
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    font-weight: 300;
    background: #fff;
    height: 40px;
    width: 100%;
    padding-left: 15px
}

.NewSearch button,
.postSearch #searchsubmit {
    right: 0;
    color: #e5e5e5;
    background-color: #fff0;
    cursor: pointer
}

.NewSearch button {
    border: none;
    position: absolute;
    top: 50%;
    height: 100%;
    min-width: 40px;
    transform: translate(0, -50%)
}

.article,
.card_box,
.postSearch form {
    position: relative
}

.recent_post {
    width: 93%;
    padding: 0 !important;
    padding: inherit 10px;
    border-radius: 14px;
    border: 1.5px solid #fff
}

.recent_post:hover {
    border: 1.5px solid #0151c1;
    transition: .3s ease-in
}

.recent_post:hover .recent_post_link .icon>svg {
    margin-left: 8px;
    transform: rotate(0);
    transition: .3s ease-in
}

.recent_post_thumb {
    border-radius: 14px;
    margin-bottom: 15px;
    width: 100%
}

.recent_post_tag {
    background: #eff4fd;
    border-radius: 42px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 20px;
    margin-left: 7px
}

.popular {
    background-color: #fff3cd;
    color: #f6a039
}

.recent_post_title {
    margin-top: 9px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    padding-left: 7px
}

.recent_post_desc {
    font-size: 12px;
    color: #000;
    opacity: .6;
    padding-left: 7px
}

.recent_post_link {
    font-weight: 500;
    padding-left: 7px;
    padding-bottom: 4px;
    display: flex;
    align-items: center
}

.recent_post_link .icon>svg {
    margin-left: 8px;
    transform: rotate(-30deg);
    margin-bottom: 6px
}

.pagination {
    padding: 22px 0;
    display: flex;
    justify-content: center
}

.pagination .Mui-selected {
    background-color: #013d8e !important
}

.postSearch form {
    margin: auto;
    width: 70%
}

.postSearch .base-input {
    font-size: 16px;
    border-radius: 30px;
    font-weight: 300;
    background: 0 0;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #e5e5e5;
    color: #fff
}

.postSearch #searchsubmit {
    position: absolute;
    font-family: fontawesome;
    font-weight: 300;
    float: right;
    margin: -2px 15px 0 0;
    border: none;
    height: 48px;
    width: 32px;
    min-width: 32px;
    font-size: 20px
}

.contact_support_btn {
    background-color: #cc6702;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #cc6702;
    font-size: 18px;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block
}

.btn-get-pricing {
    background: #d1453b !important;
    color: #fff !important;
    font-size: 17px !important;
    border-radius: 3px !important;
    padding: 10px 20px !important;
    font-weight: 500;
    -webkit-transition: .5s;
    transition: .5s;
    margin-right: 20px !important
}

.btn-get-pricing img {
    width: 21px !important;
    height: 21px !important
}

.btn-get-pricing:hover {
    background: #d63c30 !important;
    color: #fff !important
}

.cta_banner {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px
}

.contact_support_btn:hover {
    background-color: #2d4370;
    color: #fff;
    border: 1px solid #2d4370
}

.postData {
    border-left: .6px solid #464646d5 !important;
    border-right: .6px solid #464646d5 !important;
    border-bottom: .6px solid #464646d5 !important;
    border-radius: 18px;
    margin-top: -20px
}

.postdetails h1,
.table_content_list li:hover a,
p.Rounded_Btn a {
    color: #fff
}

.postData h2 {
    margin-top: 30px;
    margin-bottom: 22px
}

.bread_crum {
    padding: 26px 0
}

.bread_crum h1 {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 34px;
    margin-left: 10px
}

.bread_crum .link {
    color: #000;
    margin-right: 10px
}

.breadcrumb {
    display: flex;
    gap: 6px
}

.breadcrumb_item .active {
    font-size: .9rem
}

.postContent {
    padding: 5rem 0
}

.postContent .postSearch form {
    width: 80%
}

.postContent .postSearch .base-input {
    padding: 10px 15px
}

.table_content_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap
}

.table_content_list li {
    list-style: none;
    margin: 4px;
    border: 1px solid #021633;
    padding: 4px 16px;
    border-radius: 52px
}

.table_content_list li:hover {
    background-color: #0151c1;
    border: 1px solid #fff;
    transition: .3s ease-in
}

.table_content_list li a {
    color: #021633;
    font-size: 16px;
    font-weight: 400
}

.postData ol li,
.postData ul li {
    font-size: 18px;
    line-height: 1.5
}

.postData p {
    font-size: 18px !important;
    margin-bottom: 1.6666666667em !important;
    line-height: 1.5 !important
}

.postData ul li {
    list-style: disc
}

.helpful_article {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
    text-align: center;
    margin: 20px 0 50px
}

p.Rounded_Btn {
    border: 1px solid #677596;
    padding: 10px 15px;
    display: block;
    width: 50%;
    margin: 15px auto;
    border-radius: 5px;
    background: #677596;
    color: #fff
}

.ask_question {
    width: 50px;
    background: #fff;
    border-radius: 40px;
    padding: 4px;
    margin: 0 4px
}

.recentPopularArticle.popularArticleDetails {
    padding: 0 0 20px
}

.popularArticleDetails h3 {
    font-size: 23px;
    font-weight: 600;
    color: #2d4370
}

.toc_heading {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600
}

.recentPopularArticle ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.recentPopularArticle li {
    line-height: 1.4em;
    list-style-type: disc !important
}

.recentPopularArticle .text {
    font-size: 12.32px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    display: grid;
    width: 70%
}

.article .dets,
.data_holder .dets {
    font-size: 13px;
    font-weight: 400
}

.article {
    display: block;
    margin-bottom: 8px;
    border-radius: 12px
}

.article:hover .text {
    text-decoration: underline
}

.article img {
    position: absolute;
    top: 0;
    right: 1
}

.recentPopularArticle li a:hover {
    color: grey
}

.card_container {
    border: 1px solid #b0afb7;
    border-radius: 12px;
    height: 100%;
    padding: 0;
    overflow: hidden
}

.card_box {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 20px 9px;
    cursor: pointer
}

.card_box h2 {
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 700;
    margin-bottom: 0 !important
}

.card_box p {
    font-size: 14px;
    text-wrap: nowrap;
    width: 97%;
    overflow: hidden
}

.card_box a {
    color: #45454c
}

.card_box svg {
    position: absolute;
    right: 4px;
    top: 49%
}

.card_box:hover {
    background-color: #e7f1ff;
    transition: .3s ease-in
}

.card_box:hover.card_box h2 {
    color: #04306f !important;
    transition: .2s ease-in
}

.card_box:hover.card_box svg {
    color: #04306f;
    transition: .2s ease-in
}

.card_box:hover.card_box p {
    color: #04306f
}

nav.navbar.navbar-expand-lg.navbar-light.site-dark-bg {
    position: sticky;
    top: 0;
    z-index: 99
}

.fw-bold {
    font-weight: 500 !important
}

.postdetails p {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    overflow: auto
}

.postdetails .data_holder {
    position: relative;
    width: 100%;
    overflow: hidden
}

.data_holder::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(rgb(95 95 95 / .349), #000)
}

.data_holder .dets_img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 350px
}

.dets_cont {
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 85%;
    bottom: 30px;
    left: 30px
}

.article .dets {
    color: #434343;
    margin: 0
}

.data_holder .dets_heading {
    border-left: 5px solid;
    margin-top: 15px;
    padding-left: 6px;
    font-weight: 600;
    font-size: 30px
}

.stickySidebarPost {
    padding: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.postData .tableHolder {
    overflow-x: auto
}

.postData table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 650px
}

.postData img {
    border-radius: 12px;
    border: .7px solid #e1e1e1;
    object-fit: contain !important;
    -o-object-fit: contain !important
}

.postData table {
    border: 1px solid #ddd;
    margin-bottom: 10px
}

.postData table img {
    object-fit: contain !important;
    -o-object-fit: contain !important
}

.postData table td,
.postData table th {
    border: 1px solid #ddd;
    padding-left: 10px;
    height: 40px
}

.postData table thead td,
.postData table thead th {
    border-bottom-width: 2px
}

@media (max-width:990px) {
    .heroSection {
        height: auto !important
    }

    .stickySidebarPost {
        display: none
    }

    .main .banners_knowledge form {
        width: 100%
    }
}