.section-ticket .form-bg {
    background: #efefef85;
}
.section-ticket .ticket-form {
    padding: 100px 70px 70px 110px;
}
.section-ticket h1 {
    font-size: 35px;
    font-weight: 400;
    color: #464646;
    margin-top: 162px;
    margin-bottom: 17px;
}
.section-ticket ul {
    margin: 10px 0 0 30px;
}
.section-ticket li {
    list-style-type: disc;
    line-height: 28px;
    font-weight: 600;
}
.section-ticket h2 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.ticket-form input.form-control, select.form-control {
    border-radius: inherit !important;
    border: none !important;
    border-bottom: 1px solid #7a8086 !important;
    background-color: #fff0 !important;
    color: #000 !important;
    padding: 6px 0 6px 3px !important;
    font-weight: 400 !important;
    width: 100% !important;
    outline: none;
}
.ticket-form textarea.form-control {
    background-color: #fff !important;
    border: 1px solid #7a8086 !important;
    color: #b7b7b7 !important;
    height: 60px !important;
    outline: none;
}
.section-ticket button#nextBtn {
    border: 1px solid #eaeaea;
}
button#nextBtn {
    /* color: #fff; */
    padding: 5px 10px 5px 10px;
    margin-top: 22px;
}
/* media query */
/* desktop */
@media screen and (min-width: 1113px) and (max-width: 1200px)
{}
/*laptop */
@media screen and (min-width: 769px) and (max-width: 1112px)
{
    .section-ticket h1 {
        margin-top: 16px;
        margin-bottom: 17px;
    }
    .section-ticket .ticket-form {
        padding: 10px;
    }
}
/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px)
{
    .section-ticket h1 {
        margin-top: 16px;
        margin-bottom: 17px;
    }
    .section-ticket .ticket-form {
        padding: 10px;
    }
}
/* phone */
@media screen and (min-width: 0px) and (max-width: 480px)
{
    .section-ticket h1 {
        margin-top: 16px;
        margin-bottom: 17px;
    }
    .section-ticket .ticket-form {
        padding: 10px;
    }
}
