@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-Light.woff2') format('woff2'),
        url('/fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('/fonts/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/fonts/Graphik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('/fonts/Graphik-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('/fonts/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-Semibold.woff2') format('woff2'),
        url('/fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('/fonts/Graphik-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/fonts/Graphik-Bold.woff2') format('woff2'),
        url('/fonts/Graphik-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}