.slider,
input:checked + .slider {
  background-color: #0151c1;
}
.toggle-btn {
  margin: 1rem 0;
}
.toggle-btn span {
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transform: translate(0, 0);
  transition: transform 0.6s, box-shadow 0.6s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
 .ButtonMainCont {
  border-bottom: 1px solid #e9e9e9;
}
.MoreSave {
  text-align: center;
  margin: 0;
  color: #0151c1;
  font-size: 16px;
  font-weight: 500;
}
 .ButtonMainCont .ViewPlanMain .toggle-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: top;
}
 .ButtonMainCont .ViewPlanMain p {
  color: #000;
  font-weight: 500;
  cursor: pointer;
}
 .ButtonMainCont .ViewPlanMain .activeButton {
  color: #fff;
  background-color: #586271;
  padding: 3px 30px;
  border-radius: 20px;
  cursor: pointer;
}
 .ButtonContain {
  display: flex;
  list-style: none;
}
 .ButtonContain :first-child {
  margin-right: 2.5rem;
}
 .ButtonMainCont .ViewPlan p {
  background-color: #31416c;
  color: #fff;
  padding: 0 22px;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
 .ButtonMainCont button {
  border: none;
}
 .ButtonContain p {
  cursor: pointer;
  color: #6e6e6e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
 .ButtonContain .active {
  color: #0151c1;
  border-bottom: 2px solid #0151c1;
}
 .monthlyPriceList .Advance1 .Advance2 p,
 .monthlyPriceList .Intermediate1 .Intermediate2 p,
 .monthlyPriceList .StarterPlan1 .StarterPlan2 p {
  color: var(--text-priority-1-light, #464646);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
 .monthlyPriceList .Advance1 .price p b,
 .monthlyPriceList .InterMediateDiv .price p b,
 .monthlyPriceList .StarterPlan1 .price p b {
  color: var(--text-priority-2-light, #6e6e6e);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
 .monthlyPriceList .Advance1 .price span,
 .monthlyPriceList .InterMediateDiv .price span,
 .monthlyPriceList .StarterPlan1 .price span {
  color: #464646;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
 .monthlyPriceList .Advance1 .Information p,
 .monthlyPriceList .InterMediateDiv .Information p,
 .monthlyPriceList .StarterPlan1 .Information p {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 3px;
}
 .monthlyPriceList .Advance1 .Information span,
 .monthlyPriceList .InterMediateDiv .Information span,
 .monthlyPriceList .StarterPlan1 .Information span {
  color: #171717;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
 .monthlyPriceList .Advance1 .Information p::before,
 .monthlyPriceList .InterMediateDiv .Information p::before,
 .monthlyPriceList .StarterPlan1 .Information p::before {
  background-image: url("/assets/images/qb-hosting/tick.svg");
  position: absolute;
  content: "";
  top: 10%;
  left: -10%;
  height: 18px;
  width: 18px;
}
 .monthlyPriceList .InterMediateDiv {
  box-shadow: 0 0 10px 0 rgb(116 110 110 / 50%);
  padding: 40px;
  margin: -40px 0;
  position: relative;
}
 .monthlyPriceList .Intermediate1 .ribbon {
  position: absolute;
  right: 0;
  top: 0;
}
.price-details {
  display: flex;
  align-items: center;
}
.lineThrough {
  text-decoration: line-through;
  color: #6e6e6e !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-left: 10px !important;
}
 .monthlyPriceList .Advance1 {
  padding-left: 3rem;
}
 .SharedActive {
  animation: 0.8s slideInFromLeft;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}
 .DedicatedActive {
  animation: 0.8s slideInFromRight;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
  }
}
.MoreSaveMob {
  display: none;
}
.MoreSave {
  display: block;
}
@media (max-width: 768px) {
  .MoreSaveMob,
   .ButtonMainCont .ViewPlanMain .toggle-btn {
    display: block;
  }
  .MoreSaveMob {
    text-align: center;
    margin: 0;
    color: #0151c1;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .MoreSave {
    display: none;
  }
   .ButtonMainCont .ViewPlanMain {
    display: flex;
  }
   .monthlyPriceList .Intermediate1 .ribbon {
    position: absolute;
    right: 0;
    top: 34px;
  }
   .ButtonContain {
    display: flex;
    list-style: none;
    justify-content: center;
  }
   .ButtonContain li p {
    margin-top: 0;
    margin-bottom: 0;
  }
   .DedicatedActive,
   .SharedActive {
    animation: 0.8s ease-in-out;
  }
}
@media (max-width: 991px) {
  .monthlyPriceList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
  }
  .monthlyPriceList .col-md-4 {
    flex: 0 0 auto;
    white-space: nowrap;
  }
  .monthlyPriceList::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  .monthlyPriceList::-webkit-scrollbar-thumb {
    background-color: #ffc107;
    border-radius: 6px;
  }
  .monthlyPriceList::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
  }
  .monthlyPriceList::-webkit-scrollbar-button {
    display: none;
  }
   .monthlyPriceList .Advance1 {
    padding-left: 0;
  }
   .monthlyPriceList .InterMediateDiv .Information p {
    position: none;
    margin-left: 0;
    margin-bottom: 3px;
  }
}
.switch-wrapper {
  position: relative;
  display: inline-flex;
  padding: 4px;
  border: 1px solid #d3d3d3;
  margin-bottom: 40px;
  border-radius: 30px;
  background: var(--white);
}
.switch-wrapper [type="radio"] {
  position: absolute;
  left: -9999px;
}
.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
  color: var(--white);
}
.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
  background: 0 0;
}
.switch-wrapper
  [type="radio"]:checked#monthly
  + label[for="yearly"]
  ~ .highlighter {
  transform: none;
}
.switch-wrapper
  [type="radio"]:checked#yearly
  + label[for="monthly"]
  ~ .highlighter {
  transform: translateX(100%);
}
.switch-wrapper label {
  font-size: 16px;
  z-index: 1;
  min-width: 100px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 30px;
  transition: color 0.25s ease-in-out;
}
.switch-wrapper label:hover {
  background: var(--lightgray);
}
.switch-wrapper .highlighter {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  border-radius: 30px;
  background: var(--darkgreen);
  transition: transform 0.25s ease-in-out;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pricingTable .ButtonContain {
    display: flex;
    list-style: none;
    justify-content: flex-start;
  }
   .ButtonMainCont .ViewPlanMain {
    display: flex;
    justify-content: flex-end;
  }
   .ButtonMainCont .ViewPlanMain .activeButton {
    color: #fff;
    background-color: #586271;
    padding: 3px 15px;
    border-radius: 20px;
    cursor: pointer;
  }
  .MoreSave,
   .monthlyPriceList .Intermediate1 .ribbon {
    display: none;
  }
  .MoreSaveMob {
    display: block;
    text-align: end;
    color: #0151c1;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 1rem;
    margin-right: 0;
  }
  .switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 34px;
    border-radius: 50px;
  }
}
