.animationSection {
    width: 100vw;
    position: relative;
    padding: 0px 0px 0px 5px;
}

.animationContainer {
    transform-style: preserve-3d;
    padding: 20px 4px 50px;   
    x: 10%; 
    position: relative;
}

.animationCard {
    border: 2px solid #4C72A8;
    border-radius: 17px;
    padding: 15px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 0px #626262;
    text-align: left;
    transform-style: preserve-3d;
}

.animationCard:nth-child(odd) {
    /* width: 400px; */
    /* height: 300px; */
    background: url('/assets/images/virtual-desktop/bgcolor.png') no-repeat center bottom;
    background-position: -40% -35%;
}

.animationCard:nth-child(even) {
    background: url('/assets/images/virtual-desktop/secondbg.png') no-repeat center bottom;
    /* width: 400px; */
    /* height: 350px; */
}

.animationCard h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;
    color: #0C336B;
    margin: 0 !important;
}

.animationCard .icon {
    width: 70px;
    height: 70px;
}

.animationCard .content {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: justify;
    color: #434445;
}