.featureContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 30px;
    justify-content: center;
}

.cards {
    flex: 1 1 34%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 20px 0px 0px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.cards:hover {
    transform: translateY(-5px);
}

.cards:first-child,
.cards:nth-child(4) {

    border-top: 5px solid #03295F;
}

.content {
    flex: 1;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    font-size: 15px;
    color: #464646;
    text-align: justify;
    line-height: 25px;
}

.imageWrapper {
    flex-shrink: 0;
    position: relative;
    width: 200px;
    height: 150px;
}

.images {
    position: absolute;
    margin: auto 0px 0px 0px !important;
    bottom: -13px !important;
    width: 200px;
    height: 150px;
}


@media (max-width: 768px) {
    .images {
        position: inherit !important;
    }
    .card {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .imageWrapper {
        margin-top: 10px;
    }

    .featureContainer {
        flex-direction: column;
    }

    .cards {
        flex-direction: column-reverse !important;
    }
    .description{
        text-wrap:wrap;
        width: 95%;
    }
}