.container {
  overflow-x: auto;
  display: flex;
  width: 100%;
  scroll-behavior: smooth;
  gap: 0.3rem;
  margin-bottom: 3rem;
}
.container button {
  border: none;
  background: transparent;
}
.container .slide {
  height: 200px;
  width: 150px;
  flex-shrink: 0;
  place-items: center;
}
.container .slide p {
  text-align: center;
}
.container::-webkit-scrollbar {
  display: none;
}

.slide img {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Next & previous buttons */
.next img {
  background-color: transparent;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  transition: 0.6s ease;
  margin-top: 65px;
}

.prev {
  left: 0;
  margin-left: 3.5rem;
}
.next {
  right: 0;
  margin-right: 3.5rem;
}

@media (max-width: 768px) {
  .container {
    gap: 0rem;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
  .container::-webkit-scrollbar {
    display: block;
  }
  .container::-webkit-scrollbar {
    width: 6px;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #fab737;
    border-radius: 6px;
  }
  .container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
  }
  /* Hide scrollbar buttons (arrows) */
  .container::-webkit-scrollbar {
    height: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    gap: 2rem;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}
