.image-container {
    background: url('/assets/images/qb-enterprise/Modal-Banner.webp') no-repeat center / cover;
    height: 100%;
    width: 333px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.image-container .imageTests {
    margin: 0 15px;
}

.image-container .imageTests .microImage {
    padding: 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(to right, #00204d, #ffffff, #00204d) 1;
    border-radius: 20px;
}

.SpanImage {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.6px;
}

.image-container .imageTests .microImage .imageTextCor {
    display: flex;
}

.image-container .imageTests .microImage .imageTextCor .Micro {
    color: #e9e9e9;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.48px;
    margin-left: 8px;
}

.image-container .imageTests .microImage .MicroTexts {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 133.333% */
    letter-spacing: 0.6px;
}

.image-container .imageTests .StreamLine {
    color: #e9e9e9;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.image-container .imageTests .ChatBotts {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background: transparent;
    color: #ffffff;
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.image-container .imageTests .ChatBotts .ArroImage {
    margin-left: 8px;
}

.offers {
    color: #e9e9e9;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.IamggTest li {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
}

.modals .modal-body {
    border-radius: 10px;
    min-width: 700px;
    width: 700px;
    max-width: 700px;
    max-height: 800px;
    background-color: #fff;
    position: relative;
    z-index: 99;
}

.modals .CLoseIcon {
    position: absolute;
    right: -4%;
    top: -4%;
    cursor: pointer;
}

.modal-body {
    padding: 0px;
}

.form-container {
    padding: 0rem 1rem 1rem 0rem;
}

.image-container .image {
    max-width: 100%;
}

.modals input::placeholder {
    color: #c8c6c6;
}

.customised-heading {
    color: #464646;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.ModalBorder {
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 1rem;
    text-align: center;
}

.paraModal {
    color: #6e6e6e;
    font-size: 13px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 22px !important;
    letter-spacing: normal;
}

.phone-no .verification-image {
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone-no .verification-image img {
    width: 100%;
    cursor: pointer;
}

.customised-buttons {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.customised-buttons span {
    padding: 10px 35px;
    cursor: pointer;
    position: relative;
}

.customised-buttons span:nth-child(1) {
    margin-right: 1rem;
    background-color: #fff;
    color: #31416c;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    border: 1.5px solid #e9e9e9;
}

.customised-buttons span:nth-child(2) {
    background-color: #0151c1;
}

.customised-buttons span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.3s;
    z-index: 1;
}

.customised-buttons span:hover::after {
    width: 100%;
}

.customised-buttons button {
    padding: 10px 40px;
    cursor: pointer;
    position: relative;
    border: 1.5px solid #e9e9e9;
    border-radius: 4px;
    background-color: #013d8e;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.customised-buttons button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.3s;
    z-index: 1;
}

.customised-buttons button:hover::after {
    width: 100%;
}

.select-text-color {
    color: #b3bccc;
}

.customText span {
    color: #6e6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 2px;
}

@media screen and (max-width: 768px) {
    .PhoneCahnge {
        margin-top: 15px;
    }

    .image-container {
        background: url('/assets/images/qb-enterprise/Modal-Banner.webp') no-repeat;
        background-size: 100%;
        width: 100%;
        padding-bottom: 20px;
        border-radius: 10px;
    }

    .modals .CLoseIcon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        cursor: pointer;
    }

    .modal-contents {
        background-color: #fff;
        border-radius: 10px;
    }

    .modals .modal-body {
        border-radius: 10px;
        min-width: 30vw;
        max-height: 40vh;
    }

    .form-container {
        padding: 1rem 1rem 1rem 1rem;
    }

    .NoUsers {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .modals .modal-body {
        border-radius: 10px;
        min-width: 750px;
        width: 750px;
        max-width: 800px;
        max-height: 800px;
        background-color: #fff;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .PhoneCahnge {
        margin-top: 0px;
    }

    .modals .modal-body {
        border-radius: 10px;
        min-width: 700px;
        width: 700px;
        max-width: 800px;
        max-height: 800px;
        background-color: #fff;
        position: relative;
    }

    .image-container {
        background: url('/assets/images/qb-enterprise/Modal-Banner.webp') no-repeat center;
        width: 300px;
        border-radius: 10px;
        overflow: auto;
    }

    .modal-contents {
        background-color: #fff;
        border-radius: 10px;
    }

    .modals .modal-body {
        border-radius: 10px;
    }
}

.Modal {
    z-index: 9990;
    background-color: rgba(27, 28, 28, 0.424);
}