.bottomTopBar {
  position: fixed;
  background: url('/assets/images/common/bottom_bar.png') no-repeat center center / cover;
  /* height: 370px; */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.bottomTopBar.show {
  bottom: 0;
  display: block;
  animation: slide-down 1s;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sales-support {
  display: flex;
  align-items: center;
}

.user-img {
  margin-right: 10px;
}

.sales-support {
  color: #fff;
}

.GetDays {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.GetDays a {
  color: white;
}

.FreeTrial {
  margin: 5px;
  font-weight: 500;
}

.FrrTrial {
  display: flex;
  justify-content: space-between;
}

.FreeTrial a {
  color: #fff;
  cursor: pointer;
}

.FreeTrial a {
  position: relative;
}

@media (max-width: 768px) {
  .bottomTopBar {
    display: none;
  }

  .bottomTopBar.show {
    display: none;
  }
}

.strip img {
  width: 100%;
  height: 38px;
  object-fit: cover;
  user-select: none;
}

.strip {
  width: 100vw;
  overflow: hidden;
}