.label,
.leftSide p,
.rightSide p {
    font-weight: 400;
    letter-spacing: 0
}

.footerSection {
    padding: 90px 0 60px;
    background: url(/footer/footerbg.webp) 0 0/100% 102% no-repeat
}

.part1 {
    display: flex;
    justify-content: space-between
}

.leftSide {
    display: grid;
    gap: 18px;
    margin-bottom: 40px
}

.leftSide p,
.rightSide p {
    max-width: 400px;
    font-size: 16px;
    line-height: 140%;
    color: rgb(230 230 230 / .8);
    margin-bottom: 0
}

.label {
    color: hsl(0 0% 100% / .372);
    font-size: 12px;
    line-height: 150%
}

.contactLinks {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.contactLinks a {
    border: 1px solid hsl(0 0% 100% / .372);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px
}

.contactLinks a:hover svg {
    transform: scale(1.2);
    transition: transform .3s ease-in-out
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
    margin-bottom: 40px
}

.rightSide p {
    text-align: end
}

.rightSide label {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -2%;
    margin-bottom: 0;
    text-align: end;
    color: #e6e6e6
}

.linksBox a,
.linksBox p,
.linksHeading {
    letter-spacing: .18px;
    vertical-align: middle
}

.rightSide .mainInputDiv {
    margin-top: 20px;
    max-width: 100%;
    width: 80%;
    padding-right: 1px;
    height: 49px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    border-radius: 34px;
    border: 1px solid #dfdfdf
}

.rightSide .custom-input {
    flex: 1 0 calc(100%-99px);
    font-size: 14px;
    outline: 0;
    background-color: #fff0;
    border: none;
    font-weight: 400;
    padding: .7rem 0 .7rem 15px;
    color: #fff
}

.rightSide .custom-input::placeholder {
    color: #fff
}

.rightSide .custom-input:focus {
    box-shadow: none
}

.rightSide .mainInputDiv .custom-btn {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    height: 43px;
    width: 99px;
    right: 2px;
    top: 2px;
    border-radius: 46px;
    background-color: #f4ac04
}

.centerBorder {
    height: 1px;
    display: grid;
    width: 100%;
    border: 2px solid #fff0;
    border-image: radial-gradient(81.76% 156.83% at 45.91% -88.06%, #FFFFFF 0%, #fff0 100%);
    border-image-slice: 1;
    margin-bottom: 50px
}

.ctaPart,
.linksBox,
.part2,
.pmethods,
.resources {
    display: flex
}

.part2 {
    gap: 35px
}

.linksSubContainer {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    padding: 35px 29px 29px 37px;
    background: #0d2445BD;
    border: 1px solid #ffF6;
    border-radius: 36px;
    white-space: nowrap
}

.part2>div:first-child {
    max-width: 305px
}

.resources {
    flex-wrap: wrap;
    gap: 22px 35px
}
.resources .linksSubContainer{
    flex: 1 0 250px;
}
.resources .linksSubContainer:last-child {
    background: url(/footer/ctabg.webp) 50%/104% 102% no-repeat
}

/* .resources>div:nth-child(2) {
    min-width: 205.5px
}

.resources>div {
    flex: 1 0 calc(50%-80px)
} */

.linksBox {
    margin-top: 10px;
    flex-direction: column;
    gap: 15px
}

.linksHeading {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 17px;
    border-bottom: 2px solid #fffFFF38
}

.freeQuote,
.linksBox a,
.linksBox p {
    font-size: 16px;
    overflow: hidden;
    position: relative
}

.linksBox a,
.linksBox p {
    color: #fff;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
    height: 21px;
    margin: 0
}

.disclaimer p,
.freeQuote {
    line-height: 22px;
    letter-spacing: 0
}

.ctaPart {
    align-items: center;
    justify-content: space-between
}

.freeQuote {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 31px;
    font-weight: 700;
    border: 1px solid #fff0;
    outline: 0
}

.freeQuote:hover {
    border-color: #0e2c54;
    background: #f5f9fe;
    transition: background .4s ease-out, border .4s ease-in-out
}

.disclaimer {
    max-width: 615px;
    margin-inline: auto;
    padding: 25px 25px 8px
}

.disclaimer .centerBorder {
    width: 55%;
    margin: 10px auto 8px
}

.disclaimer p {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #d6d6d6
}

.pmethods {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 20px;
    gap: 15px 40px;
    margin-bottom: 8px
}

@media screen and (max-width:1200px) {
    .rightSide .mainInputDiv {
        margin-top: 20px;
        max-width: 95%;
        margin-left: auto
    }

    .part2>div:first-child {
        max-width: 100%
    }

    .part2 {
        flex-wrap: wrap
    }

    .part2>div.linksSubContainer {
        flex: 1 !important
    }

    .resources {
        width: 100%
    }

    .resources>div.linksSubContainer {
        flex: 1 0 calc(50% - 35px) !important
    }
}

@media screen and (max-width:790px) {
    .rightSide label {
        font-size: 32px
    }

    .custom-input {
        width: 67% !important
    }

    .rightSide .mainInputDiv {
        margin-top: 20px;
        /* width: auto; */
        max-width: 100% !important
    }

    .contactLinks {
        max-width: 70%
    }
    .resources div.linksSubContainer{
    flex: 1 0 90% !important;
}
}

@media screen and (max-width:450px) {

    .footerSection,
    .resources .linksSubContainer:last-child {
        background: #011d45
    }

    .footerSection {
        padding: 50px 0
    }

    .part1 {
        align-items: center;
        flex-wrap: wrap;
        padding:  20px
    }

    .leftSide,
    .rightSide {
        align-items: center;
        justify-items: center;
        text-align: center
    }

    .leftSide p {
        max-width: 322px
    }

    .rightSide label,
    .rightSide p {
        text-align: center
    }

    .contactLinks {
        max-width: 77%;
        justify-content: center;
        margin: initial auto
    }

    .resources {
        width: 100%
    }

    .ctaPart {
        flex-direction: column;
        gap: 20px;
        align-items: stretch
    }

    .rightSide .mainInputDiv {
        margin-top: 20px;
        max-width: 90%;
        margin-inline: auto;
        position: relative
    }

    .disclaimer {
        padding-inline: 6px
    }
}

@media screen and (max-width:340px) {
    .linksSubContainer {
        white-space: normal
    }
}

.linksBox a .textAnimate,
.linksBox p .textAnimate {
    position: absolute;
    left: 0;
    transition: transform .45s cubic-bezier(.25, 1.7, .7, 1), opacity .45s cubic-bezier(.54, 1.39, .93, .76)
}

.span1 {
    transform: translateY(-19px);
    opacity: 0
}

.span2 {
    transform: translateY(-2px);
    opacity: 1
}

.linksBox a:hover .span1,
.linksBox p:hover .span1 {
    transform: translateY(-2px);
    opacity: 1;
    text-decoration: underline
}

.linksBox a:hover .span2,
.linksBox p:hover .span2 {
    transform: translateY(19px);
    opacity: 0
}