.main {
  background: #f3f8ff;
  padding: 50px 0px 50px 0px;
}
.imgcta {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main h2,
.main h3 {
  text-align: center;
}
.mh2 {
  margin-bottom: 14px !important;
}
.mh6 {
  margin-bottom: 0px !important;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.image-container {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.image-container .images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-container .imgback {
  width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--Background, #fff);
  background: var(--Background, #fff);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  margin: auto;
}
.image-container img {
  width: 35px;
  height: 35px;
}

.image-container .subtext {
  color: #464646;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

/* Responsive styles */
@media screen and (max-width: 769px) {
  .image-container {
    padding: 10px;
    overflow-x: scroll;
  }
  .image-container .subtext {
    font-size: 16px;
    font-weight: 500;
  }
  .link-button{
    width: 290px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .image-container {
    flex-direction: column;
    row-gap: 70px;
  }
  .image-container .imgback {
    width: 138px;
    height: 138px;
  }
  .image-container .images {
    width: fit-content;
  }

  .image-container .images img {
    width: 50px;
    height: 50px;
  }

  .image-container .subtext {
    font-size: 25px;
    font-weight: 500;
  }
  .mh2 {
    margin-bottom: 20px !important;
    font-size: 25px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.5px;
  }
  .mh6 {
    margin-bottom: 20px !important;
  }
  .imgcta {
    flex-direction: column;
    row-gap: 10px;
  }
  .spanpricing {
    font-size: 12px !important;
  }
  .link-button .risvg {
    margin-left: 4px !important;
  }
}

.link-button {
  display: flex;
  min-width: 120px;
  border: 2px solid #60a4fc;
  background-color: transparent;
  color: black;
  align-items: center;
  padding: 0.7rem 1.1rem;
  border-radius: 50px;
  transition: 0.3s all ease-in-out;
  white-space: nowrap;
  font-weight: 700;
}
.spanpricing {
  font-size: 1rem;
}
.link-button:hover {
  text-decoration: none;
  background-color: #60a4fc1e;
  color: black;
}
.link-button .risvg {
  margin-left: 10px;
  margin-top: 3px;
}
