.Reason_heading {
    font-weight: 500 !important;
    font-size: 32px !important;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
}

.Cloud_law_cta {
    /* background: linear-gradient(89.99deg, #F0F6FF 21.03%, #F8FBFF 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 321px;
    gap: 60px;
    overflow: hidden;
}

.Cloud_law_cta_img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1 1 calc(100%-550px); */
}

.Cloud_law_cta_img img {
    object-fit: contain;
    height: 350px;
}

.cta_heading {
    font-weight: 700;
    font-size: 36px;
    padding: 0 20px;
    line-height: 101%;
    letter-spacing: 0%;
    color: #0C336B;
    /* margin-bottom: 30px; */
}

.cta_heading span {
    font-size: 40px;
}

.Cloud_law_firm {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 30px 65px;
}

.Cloud_law_firm_text {
    flex: 1 0 660px;
}

.Cloud_law_firm_text p {
    font-size: 17px;
    line-height: 154%;
    letter-spacing: 1%;
    color: #626367;
}

.legal_heading {
    font-weight: 700;
    font-size: 40px !important;
    line-height: 101%;
    letter-spacing: 0%;
    color: #0C336B;
    margin-bottom: 30px;
}

.legal_heading span {
    font-size: 32px;
    font-weight: 600;
}

.Cloud_law_firm_img {
    flex: 1 0 445px;
}

.Cloud_law_firm_img img {
    width: 100%;
    height: 515px;
}

/* media query */
/* desktop */
@media screen and (min-width: 1113px) and (max-width: 1200px) {}

/*laptop */
@media screen and (min-width: 769px) and (max-width: 1112px) {}

/* tablet */
@media screen and (max-width: 768px) {
    .Cloud_law_firm {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .Cloud_law_cta {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 100%;
        gap: 20px;
        padding: 30px 0;
    }

    .Cloud_law_cta_img img {
        width: 100%;
        /* height: auto; */
    }

    .Cloud_law_firm_img img {
        width: 100%;
        height: auto;
    }
}

/* phone */
@media screen and (min-width: 0px) and (max-width: 480px) {}