.mission-vision .mv-title {
    font-size: 40px;
    font-weight: 400;
    color: #464646;
}
.mission-vision p {
    font-size: 16px;
    color: #000;
    line-height: 23px;
    text-align: justify;
}
.our-principles {
    height: 400px;
}
.principle-img {
    display: block;
}
.section-principle-transparent {
    background: 0 0;
    margin-top: -150px;
}
.section-principle-transparent .happiness {
    padding: 0 111px 10px 104px;
}
.section-principle-transparent p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
}
.section-principle-transparent .value {
    padding: 93px 183px 10px 91px;
}
.section-principle-transparent h3 {
    color: #2d4370;
    font-size: 20px;
    font-weight: 700;
}

.section-principle-transparent .innovation {
    padding: 57px 187px 10px 75px;
}

.section-principle-transparent .embrance {
    padding: 97px 116px 10px 75px;
}

.sage-beleive {
    padding: 10px 70px;
    border-left: 10px solid #2d4370;
    border-right: 10px solid #2d4370;
    margin: 10px 50px;
}

@media (max-width: 767px){
    .sage-beleive {
        margin: 0;
    }
}
/* media query */
/* desktop */
@media screen and (min-width: 1113px) and (max-width: 1200px)
{}
/*laptop */
@media screen and (min-width: 769px) and (max-width: 1112px)
{}
/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px)
{
  
.our-principles-mob {
    height: 300px;
}
.mob-transparent {
    margin-top: 125px;
}
.mob-transparent h3 {
    font-size: 25px!important;
    color: #2d4370!important;
    line-height: 28px;
}
.sage-beleive {
    margin: 0;
}
}
/* phone */
@media screen and (min-width: 0px) and (max-width: 480px)
{
  
.our-principles-mob {
    height: 300px;
}
.mob-transparent {
    margin-top: 125px;
}
.mob-transparent h3 {
    font-size: 25px!important;
    color: #2d4370!important;
    line-height: 28px;
}
}